body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

html {
  height: 100%; }

@font-face {
  font-family: 'HansKendrick';
  src: local("Hans Kendrick"), local("HansKendrick"), url("../fonts/hanskendrick/hanskendrick-medium-webfont.woff") format("woff"), url("../fonts/hanskendrick/hanskendrick-medium-webfont.otf") format("otf"), url("../fonts/hanskendrick/hanskendrick-medium-webfont.eot") format("eot"), url("../fonts/hanskendrick/hanskendrick-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'HansKendrick';
  src: local("Hans Kendrick"), local("HansKendrick"), url("../fonts/hanskendrick/HKGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  padding-top: 82px; }
  @media screen and (max-width: 1200px) {
    body {
      padding-top: 15px; } }

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.container {
  font-size: 0; }
  @media screen and (min-width: 1201px) {
    .container {
      max-width: 90% !important; } }
  .container img {
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .container img {
        margin-bottom: 15px; } }

.row {
  margin-bottom: 53px; }
  @media screen and (max-width: 1200px) {
    .row {
      margin-bottom: 0; } }

.third {
  display: flex;
  position: relative; }
  .third img {
    width: 25%; }

.third::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
